body {
      background-color: #ffffff;
      color: #000000;
      font-family: "Century Schoolbook", "Times New Roman", serif;
      font-size: 12pt;
}

h2 {
      font-family:  "Lucida Handwriting", serif;
      font-size: 22pt;
}
h3 {
      font-family: "Benjamin Gothic", serif;
      font-size: 14pt;
}
#header, #nav, #news, #footer {
      display: none;
}